.navbar-container {
  position: fixed;
  width: 100%;
  min-width: 1366px;
  height: $navBarHeight;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 1001;
  background:$navBarBg;
}